<div class="mr-20 mt-5 m-14">
    <!-- List of applications is not Empty -->
    <div *ngIf="applications.length > 0">
        <div *ngFor="let app of applications">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <!-- Accordion header -->
                    <mat-expansion-panel-header>
                        <mat-panel-title class="max-w-xs">
                            <div class="font-medium text-ellipsis overflow-hidden whitespace-nowrap break-all">
                                {{app.travelroute}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description class="justify-between pr-10">
                            <div>
                                {{app.transporttype}} / Date  {{app.startdate}} - {{app.startdate}}
                            </div>
                            <div *ngIf="app.status == 1" class="text-orange-500 font-medium">
                                Sent
                            </div>
                            <div *ngIf="app.status == 2" class="text-blue-500 font-medium">
                                Processing
                            </div>
                            <div *ngIf="app.status == 3" class="text-green-500 font-medium">
                                Aceppted
                            </div>
                            <div *ngIf="app.status == 4" class="text-red-500 font-medium">
                                Declined
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- Accordion body -->
                    <div>
                        <!-- First row-->
                        <div class="font-semibold ml-3 mb-3 text-lg">User information</div>
                        <div class="mx-6 flex gap-3">
                            <mat-form-field class="w-1/4 rounded-md text-sm" appearance="fill">
                                <mat-label>First name</mat-label>
                                <input matInput type="text" [ngModel]="app.firstname">
                            </mat-form-field>
                            <mat-form-field class="w-1/4 rounded-md text-sm" appearance="fill">
                                <mat-label>Last name</mat-label>
                                <input matInput type="text" [ngModel]="app.lastname">
                            </mat-form-field>
                            <mat-form-field class="w-1/4 rounded-md text-sm" appearance="fill">
                                <mat-label>Phone number</mat-label>
                                <input matInput type="text" [ngModel]="app.phonenumber">
                            </mat-form-field>
                            <mat-form-field class="w-1/4 rounded-md text-sm" appearance="fill">
                                <mat-label>E-mail</mat-label>
                                <input matInput type="text" [ngModel]="app.email">
                            </mat-form-field>
                        </div>
                        <!-- Second row -->
                        <div class="font-semibold ml-3 mb-3 text-lg">Transport information</div>
                        <div class="mx-6 flex gap-3">
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label>Passangers</mat-label>
                                <input matInput type="number" [ngModel]="app.numberofpassengers">
                            </mat-form-field>
                            <!-- POPRAVI DATE NEMORE BIT TEXT INPUT AMPAK NAREDI NA PICK DATE -->
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label>Date</mat-label>
                                <input matInput type="text" [ngModel]="app.startdate + ' - ' + app.enddate">
                            </mat-form-field>
<!--                             <mat-form-field class="w-1/2 rounded-md text-sm" appearance="fill">
                                <mat-label>Date</mat-label>
                                <mat-date-range-input 
                                    [rangePicker]="picker" comparisonStart="09/12/2022">
                                  <input matStartDate placeholder="Start date">
                                  <input matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field> -->
                        </div>
                        <!-- Third row -->
                        <div class="mx-6 flex gap-3">
                            <mat-form-field class="w-full rounded-md text-sm" appearance="fill">
                                <mat-label>Travel Route</mat-label>
                                <textarea 
                                    matInput
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="10"
                                    [(ngModel)]="app.travelroute"></textarea>
                            </mat-form-field>
                            <mat-form-field class="w-full rounded-md text-sm" appearance="fill">
                                <mat-label>Description</mat-label>
                                <textarea
                                    matInput
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="10"
                                    [(ngModel)]="app.description"></textarea>
                            </mat-form-field>
                        </div>
                        <!-- Fourth row -->
                        <div class="font-semibold ml-3 mb-3 text-lg">Pro forma invoice</div>
                        <div class="ml-3 flex gap-3">
                            <mat-form-field class="w-1/3 rounded-md text-sm " appearance="fill">
                                <mat-label class="text-black">Vehicle</mat-label>
                                <input matInput type="text" [ngModel]="app.vehicle" disabled="true">
                            </mat-form-field>
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label class="text-black">Discount - %</mat-label>
                                <input matInput type="number" [ngModel]="app.discount" disabled="true">
                            </mat-form-field>
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label class="text-black">Price - €</mat-label>
                                <input matInput type="number" [ngModel]="app.price" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end" *ngIf="app.status != 3 && app.status != 2">
                            <div class="bg-red-500 text-white rounded p-3 px-4 cursor-pointer mr-3" (click)="deleteApplication(app.id)">Delete</div>
                            <div class="bg-primaryGreen text-white rounded p-3 px-4 cursor-pointer" (click)="saveAndSendApplication()">Save and Send</div>
                        </div>
                        <div class="flex justify-end" *ngIf="app.status == 2">
                            <div class="bg-primaryGreen text-white rounded p-3 px-4 cursor-pointer" (click)="acceptApplication(app)">Accept</div>
                        </div>
                    </div>
                </mat-expansion-panel>
          </mat-accordion>
        </div>
    </div>
    <!-- List of applications is Empty -->
    <div *ngIf="applications.length == 0">
        <div class="grid place-items-center text-center mt-20">
            <span class="material-icons font-medium text-8xl text-primaryBackgroundMenu">content_paste_off</span>
            <div class="mt-4">You don't have any submitted application.<br>Go to New Applications and submit new one.</div>
        </div>
    </div>
</div>