<!-- SIDEMENU -->
<aside class="flex flex-col p-6 fixed z-10 h-full bg-primaryBackgroundMenu mt-16 text-white font-medium">
  <!-- ADMIN USER MENU -->
  <div *ngIf="userType == 'admin'">
    <div class="text-lg pb-3">Applications</div>
    <div class="flex p-2 mb-3 rounded cursor-pointer hover:bg-primaryBackgroundMenuHover" (click)="changeContent('pending')">
      <span class="material-icons mr-2 font-medium text-orange-500">text_snippet</span>
      <div class="pr-2">Pending</div>
    </div>
    <div class="flex p-2 mb-3 rounded cursor-pointer hover:bg-primaryBackgroundMenuHover" (click)="changeContent('in-proces')">
      <span class="material-icons mr-2 font-medium text-blue-500">text_snippet</span>
      <div class="pr-2">In Processing</div>
    </div>
    <div class="flex p-2 mb-3 rounded cursor-pointer hover:bg-primaryBackgroundMenuHover" (click)="changeContent('confirmed')">
      <span class="material-icons mr-2 font-medium text-primaryGreen">text_snippet</span>
      <div class="pr-2">Confirmed</div>
    </div>
    <div class="flex p-2 mb-3 rounded cursor-pointer hover:bg-primaryBackgroundMenuHover" (click)="changeContent('all-application')">
      <span class="material-icons mr-2 font-medium">text_snippet</span>
      <div class="pr-2 mr-4 relative top-0.5">All Applications</div>
    </div>
  </div>
  <!-- BASIC USER MENU -->
  <div *ngIf="userType == 'basic'">
    <div class="flex p-2 mb-3 rounded cursor-pointer hover:bg-primaryBackgroundMenuHover" (click)="changeContent('new-application')">
      <span class="material-icons mr-2 font-medium">note_add</span>
      <div class="pr-2 relative top-0.5">New Applications</div>
    </div>
    <div class="flex p-2 mb-3 rounded cursor-pointer hover:bg-primaryBackgroundMenuHover" (click)="changeContent('applications')">
      <span class="material-icons mr-2 font-medium">text_snippet</span>
      <div class="pr-2">Applications</div>
    </div>
  </div>
</aside>
<aside class="p-5 fixed z-20 w-full bg-primaryGreen">
  <div class="flex justify-between text-white">
    <div class="font-semibold text-lg">Avtoprevozništvo Topler Web portal</div>
    <div class="flex font-semibold relative top-0.5 cursor-pointer" (click)="SignOut()">
      <div class="mr-2">Log out</div>
      <span class="material-icons mr-2 font-semibold">logout</span>
    </div>
  </div>
</aside>