<div class="mr-20 mt-5 m-14">
    <!-- List of applications is not Empty -->
    <div *ngIf="applications.length > 0">
        <div *ngFor="let app of filteredApplications">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <!-- Accordion header -->
                    <mat-expansion-panel-header>
                        <mat-panel-title class="max-w-xs">
                            <div class="font-medium text-ellipsis overflow-hidden whitespace-nowrap break-all">
                                {{app.travelroute}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description class="justify-between pr-10">
                            <div>
                                {{app.transporttype}} / Date {{app.startdate}} - {{app.startdate}}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- Accordion body -->
                    <div>
                        <div class="font-semibold mb-3 text-lg">User information</div>
                        <div class="ml-3 flex gap-3">
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" [ngModel]="app.firstname + ' ' + app.lastname" disabled="true">
                            </mat-form-field>
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label>Phone number</mat-label>
                                <input matInput type="text" [ngModel]="app.phonenumber" disabled="true">
                            </mat-form-field>
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label>E-mail</mat-label>
                                <input matInput type="text" [ngModel]="app.email" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="font-semibold mb-3 text-lg">Transport information</div>
                        <div class="ml-3 flex gap-3">
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label>Passangers</mat-label>
                                <input matInput type="number" [ngModel]="app.numberofpassengers" disabled="true">
                            </mat-form-field>
                            <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                <mat-label>Date</mat-label>
                                <input matInput type="text" [ngModel]="app.startdate + ' - ' + app.startdate" disabled="true">
                            </mat-form-field>
                        </div>
                        <div *ngIf="page != 'confirmed' && page != 'all-application'; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <div class="ml-3 flex gap-3">
                                <mat-form-field class="w-full rounded-md text-sm" appearance="fill">
                                    <mat-label>Travel Route</mat-label>
                                    <textarea 
                                        matInput
                                        cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="10"
                                        [(ngModel)]="app.travelroute"></textarea>
                                </mat-form-field>
                                <mat-form-field class="w-full rounded-md text-sm" appearance="fill">
                                    <mat-label>Description</mat-label>
                                    <textarea
                                        disabled="true"
                                        matInput
                                        cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="10"
                                        [(ngModel)]="app.description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="font-semibold mb-3 text-lg">Pro forma invoce</div>
                            <div class="ml-3 flex gap-3">
                                <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                    <mat-label>Vehicle</mat-label>
                                    <input matInput type="text" [ngModel]="app.vehicle">
                                </mat-form-field>
                                <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                    <mat-label>Discount</mat-label>
                                    <input matInput type="number" [ngModel]="app.discount">
                                </mat-form-field>
                                <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                    <mat-label>Price</mat-label>
                                    <input matInput type="number" [ngModel]="app.price">
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end">
                                <div class="bg-primaryGreen text-white rounded p-3 px-4 cursor-pointer">Save and Send</div>
                            </div>
                        </ng-template>
                        <ng-template #elseBlock>
                            <div class="ml-3 flex gap-3">
                                <mat-form-field class="w-full rounded-md text-sm" appearance="fill">
                                    <mat-label>Travel Route</mat-label>
                                    <textarea
                                        disabled="true"
                                        matInput
                                        cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="10"
                                        [(ngModel)]="app.travelroute"></textarea>
                                </mat-form-field>
                                <mat-form-field class="w-full rounded-md text-sm" appearance="fill">
                                    <mat-label>Description</mat-label>
                                    <textarea
                                        disabled="true"
                                        matInput
                                        cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="10"
                                        [(ngModel)]="app.description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="font-semibold mb-3 text-lg">Pro forma invoce</div>
                            <div class="ml-3 flex gap-3">
                                <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                    <mat-label>Vehicle</mat-label>
                                    <input matInput type="text" [ngModel]="app.vehicle" disabled="true">
                                </mat-form-field>
                                <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                    <mat-label>Discount</mat-label>
                                    <input matInput type="number" [ngModel]="app.discount" disabled="true">
                                </mat-form-field>
                                <mat-form-field class="w-1/3 rounded-md text-sm" appearance="fill">
                                    <mat-label>Price</mat-label>
                                    <input matInput type="number" [ngModel]="app.price" disabled="true">
                                </mat-form-field>
                            </div>
                        </ng-template>
                    </div>
                </mat-expansion-panel>
          </mat-accordion>
        </div>
    </div>
    <!-- List of applications is Empty -->
    <div *ngIf="applicationsLength == 0">
        <div class="grid place-items-center text-center mt-20">
            <span class="material-icons font-medium text-8xl text-primaryBackgroundMenu">content_paste_off</span>
            <div class="mt-4">No submitted application. Try again later.</div>
        </div>
    </div>
</div>