<base-layout>
  <!-- Content projection -->
  <!-- Basic User -->
  <div *ngIf="menuPage == 'applications'">
    <div class="font-extrabold text-2xl p-4">Applications</div>
    <applications></applications>
  </div>
  <div *ngIf="menuPage == 'new-application'">
    <div class="font-extrabold text-2xl p-4">New Application</div>
    <new-application></new-application>
  </div>
  <!-- Admin User -->
  <div *ngIf="menuPage == 'pending'">
    <div class="font-extrabold text-2xl p-4">Pending applications</div>
    <admin-applications [page]="menuPage"></admin-applications>
  </div>
  <div *ngIf="menuPage == 'in-proces'">
    <div class="font-extrabold text-2xl p-4">Applications in processing</div>
    <admin-applications [page]="menuPage"></admin-applications>
  </div>
  <div *ngIf="menuPage == 'confirmed'">
    <div class="font-extrabold text-2xl p-4">Confirmed applications</div>
    <admin-applications [page]="menuPage"></admin-applications>
  </div>
  <div *ngIf="menuPage == 'all-application'">
    <div class="font-extrabold text-2xl p-4">All applications</div>
    <admin-applications [page]="menuPage"></admin-applications>
  </div>
</base-layout>